<header class="header">
    <div class="header__logo">
        <a href="#home" aria-label="На главную">
            <img src="site/image/Logo.png" alt="RioCar">
        </a>
    </div>

    <nav class="header__nav header__nav--desktop">
        <ul>
            <li><a href="#home">ГЛАВНАЯ</a></li>
            <li><a href="site/pages/cars.html">АВТОПАРК</a></li>
            <li><a href="#otzyv">ОТЗЫВЫ</a></li>
            <li><a href="#contacts">КОНТАКТЫ</a></li>
            <li><a href="#contacts">ТВОЁ ПУТЕШЕСТВИЕ</a></li>
            <li><a href="#form" class="header__cta">ОСТАВИТЬ ЗАЯВКУ</a></li>
        </ul>
    </nav>

    <button class="header__burger" type="button" aria-label="Открыть меню" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
    </button>
    
    <div class="mobile-menu-overlay"></div>
    
    <nav class="mobile-menu">
        <ul>
            <li><a href="#advantages">ГЛАВНАЯ</a></li>
            <li><a href="#work">АВТОПАРК</a></li>
            <li><a href="#country">ОТЗЫВЫ</a></li>
            <li><a href="#catalog">КОНТАКТЫ</a></li>
             <li><a href="#contacts">ТВОЁ ПУТЕШЕСТВИЕ</a></li>
            <li><a href="#form" class="mobile-menu__cta">ОСТАВИТЬ ЗАЯВКУ</a></li>
        </ul>
    </nav>
</header>