$white-main: #f4f1f5;
$orange-light: #ff9b3d;
$orange-main: #ff6a00;
$orange-gradient: linear-gradient(180deg, #ff9b3dcb 0%, #ff6a00 100%);

$RussoOne: 'RussoOne', sans-serif;
$inter: 'Inter', sans-serif;